name: Docs Deploy
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          ref: main
      - name: Checkout dev
        uses: actions/checkout@v2
        with:
          ref: dev
          path: devbranch
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -e .[dev]
      - name: Git setup and update
        run: |
          git config user.name "GitHub Action" && git config user.email "github-action@github.com"
          git fetch origin
      - name: Build Docs for main
        run: mkdocs build
      - name: Build Docs for dev
        run: |
          cd devbranch
          mkdocs build
          mv site dev
          cd ..
          mv devbranch/dev site/
      - name: Add latest web build and deploy
        run: |
          mkdocs gh-deploy --dirty
